<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="images/Logo.png">
</head>
<body style="  background-color: transparent;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow mb-3" style="background: linear-gradient(to top, #000000 0%, rgb(15,33,47) 100%); ">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a asp-area="" asp-page="/Index">
                    <img src="images/Logo.png" style="height:90px" class="img-fluid">

                </a>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class=" nav navbar-right navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-white-50" asp-area="" asp-page="/Privacy">Kontakt</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white-50" asp-area="" asp-page="/IgraSve">Igre <i class="fas fa-gamepad"></i></a>
                        </li>
                        @if (SessionClass.UsernameKorisnika != null)
                        {

                            @if (SessionClass.TipKorisnika == "K")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white-50" asp-area="" asp-page="/Profil">Profil <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i></a>
                                </li>
                            }
                            @if (SessionClass.TipKorisnika == "A")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white-50" asp-area="" asp-page="/RezervacijaSve">Rezervacije</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link text-white-50" asp-area="" asp-page="/Odjava">Odjavi se <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i></a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white-50" asp-area="" asp-page="/Prijava">Prijavi se</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white-50" asp-area="" asp-page="/Registracija">Registruj se</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - gAMe - <a asp-area="" asp-page="/Privacy">Kontakt</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
