    /* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
    
    a.navbar-brand {
        white-space: normal;
        text-align: center;
        word-break: break-all;
    }
    /* Provide sufficient contrast against white background */
    
    a {
        color: #84c1ff;
        font-size: 17px;
    }
    
    a:hover {
        color: rgb(247, 111, 183)
    }
    
    .btn-odjava {
        box-shadow: 2px 3px 0px 0px #000000;
        background: linear-gradient(to bottom, #969696 5%, #1d1d1d 100%);
        background-color: #000000;
        border-radius: 25px;
        border: 1px solid #84c2ff;
        display: inline-block;
        cursor: pointer;
        color: #c7c7c7;
        font-family: Arial;
        font-size: 17px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #4e4e4e;
        margin: 10px;
    }
    
    .btn-primary {
        box-shadow: 2px 3px 0px 0px #000000;
        background: linear-gradient(to bottom, #969696 5%, #1d1d1d 100%);
        background-color: #000000;
        border-radius: 25px;
        border: 1px solid #84c2ff;
        display: inline-block;
        cursor: pointer;
        color: #c7c7c7;
        font-family: Arial;
        font-size: 17px;
        padding: 7px 25px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #4e4e4e;
        margin: 10px;
    }
    /* Sticky footer styles
-------------------------------------------------- */
    
    html {
        font-size: 14px;
    }
    
    @media (min-width: 768px) {
        html {
            font-size: 16px;
        }
    }
    
    .border-top {
        border-top: 1px solid #e5e5e5;
    }
    
    .border-bottom {
        border-bottom: 1px solid #e5e5e5;
    }
    
    .box-shadow {
        box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    }
    
    button.accept-policy {
        font-size: 1rem;
        line-height: inherit;
    }
    /* Sticky footer styles
-------------------------------------------------- */
    
    html {
        position: relative;
        min-height: 100%;
    }
    
    body {
        margin-bottom: 60px;
    }
    
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        white-space: nowrap;
        line-height: 60px;
        /* Vertically center the text there */
    }
    
    .flip-card-igra {
        width: 300px;
        height: 200px;
        perspective: 1000px;
        margin-top: 20px;
        margin: 5px;
    }
    
    .flip-card-igra .inner-igra {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.7s;
        transform-style: preserve-3d;
    }
    
    .flip-card-igra .inner-igra .front-igra,
    .flip-card-igra .inner-igra .back-igra {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 0px 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 5px 5px 0 #000000;
        flex-direction: column;
    }
    
    .flip-card-igra .inner-igra .front-igra {
        background-color: #cacaca;
        background-image: linear-gradient(315deg, #979797 0%, #666666 79%);
    }
    
    .flip-card-igra .inner-igra .back-igra {
        background-color: #cacaca;
        background-image: linear-gradient(315deg, #979797 0%, #666666 79%);
        transform: rotateX(180deg);
    }
    
    .flip-card-igra:hover .inner-igra {
        transform: rotateX(190deg);
    }
    /*Profil*/
    
    .cardProfil {
        transition: 0.8s;
        width: 20%;
        min-height: 100%;
        border: #ddf2ff solid 0.5px;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        background: linear-gradient(to top, #d3f9ffba 0%, #ffd4d4 100%);
        box-shadow: 0 5px 10px 0 #000000;
        color: rgb(43, 43, 43)
    }
    
    .title {
        color: #4d4d4d;
        font-size: 18px;
        background: linear-gradient(to top, #ffd4d4 0%, #d3f9ffba 100%);
    }
    /*Registracija, prijava, izmeni, dodaj*/
    
    .registracija,
    .prijava,
    .izmeni,
    .dodaj,
    .obrisi,
    .odjava {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        min-height: 100%;
        justify-content: center;
    }
    
    .prijava {
        height: 500px;
    }
    
    input[type=text],
    input[type="password"],
    input[type="date"],
    input[type="number"],
    input[type="time"],
    select {
        box-shadow: 0 5px 5px 0 #000000;
        background: linear-gradient(to left, #434343 0%, #1b1b1b 100%);
        border: none;
        color: #5a5959;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: 20px;
        width: 85%;
        border: 2px solid #84c1ff;
        transition: all 0.5s ease-in-out;
        border-radius: 25px;
    }
    
    textarea {
        box-shadow: 0 5px 5px 0 #000000;
        background-color: rgb(247, 247, 247);
        color: #000000;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-bottom: 9px;
        width: 85%;
        border: 2px solid #84c1ff;
        transition: all 0.5s ease-in-out;
    }
    
    .form-control {
        color: #ffffff;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        margin-bottom: 9px;
        width: 100%;
        border: 2px solid #84c1ff;
        transition: all 0.5s ease-in-out;
        background-color: rgb(61, 61, 61);
    }
    
    .igraLabel {
        color: #000000;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        width: 20%;
        transition: all 0.5s ease-in-out;
    }
    /*Kontakt*/
    
    .card,
    table {
        background: linear-gradient(to left, #ffd4d4 0%, #d3f9ffba 100%);
        box-shadow: 0 5px 5px 0 #000000;
        margin: 2%;
    }
    
    html {
        background: url('https://wallpaperaccess.com/full/1553991.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }