@page
@model GAMe.Pages.IgraIzmeniModel
@{
}

@if (SessionClass.TipKorisnika == "A")
{
<form method="post">
            <div class="izmeni">
                <label class="form-control">Naziv: </label> <textarea  asp-for="TrenutnaIgra.naziv"> required></textarea>
                <label class="form-control">Zanr:</label> <textarea  asp-for="TrenutnaIgra.zanr"></textarea>
                <label class="form-control">Verija:</label> <textarea  asp-for="TrenutnaIgra.verzija"></textarea>
                <label class="form-control">Opis:</label> <textarea  asp-for="TrenutnaIgra.opis"></textarea>
                <label class="form-control">Cena:</label> <textarea  asp-for="TrenutnaIgra.cena"></textarea>
                <button type="submit" class="btn-primary">Sačuvaj izmene</button>
            </div>
    </form>
}
else
{
    <div class="alert alert-danger" role="alert" style="text-align: center;"><i class="fas fa-exclamation-triangle"></i> Nemate pristup ovoj stranici, samo admin može da izmeni znamenitost. <i class="fas fa-exclamation-triangle"></i></div>
}