@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="prijava">
<h1 style="color:rgb(162,255,248);font-family: console;">Life is more fun if you play <img src="images/Logo.png" style="height:70px" class="img-fluid">s</h1>


</div>
