@page
@model GAMe.Pages.OdjavaModel
@{
}


<form method="post">
    <div class="odjava">
        <labelpx; style="color:white; font-size:25px; border:2px solid black; background-color:gray;";>Da li ste sigurni da zelite da se odjavite?      <button type="submit" class="btn-odjava">Odjavi se</button></labelpx;>
    </div>
</form>