@page
@model GAMe.Pages.RegistracijaModel
@{
}


<form method="post">
    <div class="registracija">
    <input type="text" asp-for="NoviKorisnik.ime" placeholder="Ime" required />
            <input type="text" asp-for="NoviKorisnik.prezime" placeholder="Prezime" required />
            <input type="text" asp-for="NoviKorisnik.username" placeholder="Korisnicko ime" required />
            <input type="text" asp-for="NoviKorisnik.password" placeholder="Lozinka" required />
            <input type="text" asp-for="NoviKorisnik.telefon" placeholder="Telefon" required />
          
            <button type="submit" class="btn-primary">Registruj se</button>
         
            <div class="d-flex justify-content-center links">
         <div style="color:white">Imaš nalog? <a href="/Prijava">Prijavi se <i class="fas fa-sign-in-alt"></i></a></div>
        </div>
</form>
@if (Model.PostojiVec)
{
    <div class="alert alert-danger" role="alert" style="text-align: center;"> <i class="fas fa-exclamation-triangle"></i> Korisnik sa tim korisničkim imenom već postoji. <i class="fas fa-exclamation-triangle"></i></div>
}


